
__pycache__/controller.cpython-310.pyc
__pycache__/controller.cpython-310.pyc
__pycache__/model.cpython-310.pyc
__pycache__/controller.cpython-310.pyc
__pycache__/model.cpython-310.pyc
__pycache__/service.cpython-310.pyc
__pycache__/test.cpython-310-pytest-7.1.2.pyc
__pycache__/view.cpython-310.pyc
