<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Большой теннис</title>
		<style>
			{%include 'style_general.css'%}
		</style>
	</head>

	<body>
		<!-- Главная страница с ссылками на новый матч и завершенные матчи -->
		<h1 align='center'>Большой теннис</h1>
		<hr><br><br>

		
		<form action="new-match" method="get" align='center'>
				<button class='button' type="submit" formmethod='get'>Новый матч</button><br><br>
		</form>
		
		<form action="matches" method="get" align='center'>
				<button class='button' type="submit" formmethod='get'>Сыгранные матчи</button><br><br>
		<form action="matches" method="get">
	</body>

</html>