<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Большой теннис</title>
		<style>
			{%include 'style_general.css'%}
			{%include 'style_for_score.css'%}
		</style>
	</head>

	<body>
		<!-- Главная страница с ссылками на новый матч и завершенные матчи -->
		<h1 align='center'>Большой теннис</h1>
		<hr>
		<br><br><br>

		<table align='center' border cellpadding='20' cols='5' rows='3'>
			<tr class='row1' align="center">
				<td class='player_col'>Player</td>
				<td></td>
				<td>Points</td>
				<td>Sets</td>
				<td>Score</td>
				<td class='button_col'></td>
			</tr>
			<tr class="row23" align="center">
				<td>{{player1}}</td>
				<td>•</td>
				<td class='digit'>{{game[player1]}}</td>
				<td class='digit'>{{set[player1]}}</td>
				<td class='digit'>{{best_of_3[player1]}}</td>
				<td>
					{% if not winner -%}
					<form class='hide' action="match-score?uuid={{uuid}}" method="post" align='center'>
						<input type="hidden" name="player" for='player1' value="{{player1}}" />
						<button class='take-score'type="submit" id='player1' formmethod='post'>Take point</button><br><br>
					</form>
					{% endif -%}
				</td>
			</tr>
			<tr class="row23" align="center">
				<td>{{player2}}</td>
				<td>•</td>
				<td class='digit'>{{game[player2]}}</td>
				<td class='digit'>{{set[player2]}}</td>
				<td class='digit'>{{best_of_3[player2]}}</td>
				<td>
					{% if not winner -%}
					<form class='hide' action="match-score?uuid={{uuid}}" method="post" align='center'>
						<input type="hidden" name="player" for='player2' value="{{player2}}" />
						<button class='take-score' type="submit" id='player2' formmethod='post'>Take point</button><br><br>
					</form>
					{% endif -%}
				</td>
			</tr>
		</table>
		
		{% if winner -%}
			<p class='winner_info' align='center'>Игрок {{winner}} победил!</p>
			<form action="main-page" method="get" align='center'>
				<button class='button' type="submit" formmethod='get'>Главная страница</button>
			</form><br>
			
			<form action="matches" method="get" align='center'>
				<button class='button' type="submit" formmethod='get'>Сыгранные матчи</button><br><br>
			<form action="matches" method="get">
		{% endif -%}
	</body>

</html>