<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Большой теннис</title>
	</head>

	<body>
		<!-- Главная страница с ссылками на новый матч и завершенные матчи -->
		<h1 align='center'>Большой теннис</h1>
		<hr>
		<p align='center'>Непосредственно само табло</p>
		<p align='center'>Имя первого игрока - {{player1}}, имя второго игрока - {{player2}}</p>
		
		<form action="match-score" method="post" align='center'>
			<button type="submit" formmethod='post'>Должны приходить сюда же через пост</button><br><br>
		</form>
	</body>

</html>