<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Большой теннис</title>
		<style>
			{%include 'style.css'%}
		</style>
	</head>

	<body>
		<!-- Главная страница с ссылками на новый матч и завершенные матчи -->
		<h1 align='center'>Большой теннис</h1>
		<hr><br><br>
		
		<form action="/new-match?" method="post" align='center'>
			<label for="player1" >Имя первого игрока:</label>
			<input autocomplete="off" type="text" id="player1" name="player1"><br><br>
			<label for="player2">Имя второго игрока:</label>
			<input autocomplete="off" type="text" id="player2" name="player2"><br><br><br><br>
			<button type="submit" formmethod="post">Начать новый матч</button>
		</form>
		
		{% if validation_of_empty_name -%}
			<p class='validation' align='center'>Введите имя игрока</p>
		{% elif validation_of_equal_name -%}
			<p class='validation' align='center'>Имена не могут быть одинаковыми</p>
		{% endif -%}
	</body>

</html>